{% extends 'base.html' %}
{% block main %}
<!-- Filter bar -->
<nav class="filter-bar mdl-shadow--2dp">
    <form>
        <select>
            <option value="none">Select Interest</option>
        </select>
        <select>
            <option value="none">Select Company</option>
        </select>
        <select>
            <option value="none">Select Location</option>
        </select>
    
        <button type="submit" style="float: right;">Filter</button>
        <input placeholder="Search here.." style="float: right;">
    </form>
</nav>

<main>
    <br>
    <ul class="buddies">
        {% for result in results %}
        {% set buddy = result[0] %}
        {% set programme = result[1] %}
        {% set company = result[2] %}
        <li>
            <div class="mdl-card mdl-shadow--2dp">
                <div style=" overflow: hidden; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                    <div style="height: 200px; width: 330px; background-color: #333; background-image: url({{ result.photo_url }});">
                    </div>
                </div>  

                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
                    style="margin: initial; margin-top: -32px; margin-left: -8px;">
                    <i class="material-icons">mail</i>
                </button>

                <div class="mdl-card__title" style="padding-bottom: 0;">
                    <h2 class="mdl-card__title-text">{{ buddy.name }} @ {{ company.company_name }}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    {{ buddy.description }} - {{ programme.description }}
                    <br><br>

                    <span class="mdl-chip">
                        <span class="mdl-chip__text">{{ company.company_name }}</span>
                    </span>

                    <span class="mdl-chip">
                        <span class="mdl-chip__text">{{ programme.location }}</span>
                    </span>

                    <span class="mdl-chip">
                        <span class="mdl-chip__text">{{ programme.role }}</span>
                    </span>

                    <span class="mdl-chip">
                        <span class="mdl-chip__text">{{ programme.title }}</span>
                    </span>
                </div>
                <div class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons" style="color: #fff;">share</i>
                    </button>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    More From This Company
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}